.about_container {
  background-color: #0000004a;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

#carouselExampleFade {
  margin-top: 56px;
}
.carousel-item,
.carousel-item.active {
  display: flex;
  align-items: center;
  min-height: 300px;
  background-color: rgba(39, 37, 37, 0.541);
}

.carousel-item > img {
  max-height: 620px;
  object-fit: cover;
}

.card-img-top {
  max-height: 235px;
  object-fit: cover;
}

.gallery_img,
.gallery_img > img {
  object-fit: cover;
  max-height: 155px;
}
